<!-- Categories Widget -->
<div class="card my-4">
  <h5 class="card-header">Categories ({{ categories | length }})</h5>
  
  <div class="card-body">
    <div class="row">
    
  {% for index, category in categories %}
   
   {% if (index%2) == 0 %}

     <div class="col-lg-6">
        <ul class="list-unstyled mb-0">

   {% endif %} 

   <li> <a href="{{ path('category_update', {'id': category.id}) }}">{{ category.name }}</a> </li>

   {% if (index%2) == 1 %}
        
        </ul>
      </div>

   {% endif %}

  {% endfor %}

    </div>
  </div>
</div>