<div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">

            	{{ form_start(showForm, {'action': path('show_research'), 'method': 'POST'}) }}

			 	{{ form_rest(showForm) }}

 					<input class="btn-primary btn" type="submit" value="Research Show"/>

 				{{ form_end(showForm ) }}

            </div>
          </div>